.git
.gitignore
.cursor
.vscode
.env
.env.backup
.env.production
.idea
.nova
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpactor.json
.phpunit.cache
phpunit.result.cache
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
*.log
README.md
CLAUDE.md
tests

